@import "../../media";

.HomePage {
  height: 100vh;

  .HomePageVision {
    display: flex;
    justify-content: center;
    height: auto;
    width: auto;
    margin-top: 125px;
    padding: 117px 0px 117px 50px;

    .HomePageCard1,
    .HomePageCard2 {
      position: absolute;
      font-family: "Gilda Display", serif;

      width: 940px;
      height: 340px;

      margin: auto;

      box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.4);

      background-image: url("../../assets/img/Frame\ 15.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;

      filter: brightness(0.65);

      .HomePageCardTitle {
        width: 100%;
        height: 50%;
        padding: 15px;
        display: flex;

        .HomePageCardTitleLine {
          width: 3px;
          height: 148px;
          background-color: #b1b1b1;
        }

        .HomePageCardTitleText {
          display: flex;
          flex-direction: column;

          margin-left: 20px;

          .HomePageCardTitleHello {
            color: #b1b1b1;
            font-size: 48px;
            font-weight: 400;
            letter-spacing: -1.44px;
          }

          .HomePageCardTitleName {
            color: #b1b1b1;
            font-size: 96px;
            font-weight: 400;
            letter-spacing: -4.8px;
          }
        }
      }

      .HomePageCardContext {
        margin-left: 35px;
        color: #b1b1b1;
        font-size: 40px;
        font-weight: 400;
        line-height: 60px;
        letter-spacing: -1.2px;
      }
    }

    .HomePageCard1 {
      z-index: 2;
    }

    .HomePageCard2 {
      transform: rotate(15deg);
      transform-origin: center;
    }
  }
}
