@import "../../media";

.HomePageAndFooter {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.HomePage {
  height: 100vh;

  .HomePageVision {
    display: flex;
    justify-content: center;
    height: auto;
    width: 100vw;
    margin-top: 14vw;

    @include mobile {
      margin-top: min(max(20vw, 100px), 200px);
    }

    .HomePageCard1,
    .HomePageCard2 {
      position: absolute;
      font-family: "Gilda Display", serif;

      width: 78%;
      max-width: 1600px;
      max-height: 578px;
      aspect-ratio: 47 / 17;

      box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.5);

      background-image: url("../../assets/img/homepage.backgroundPic.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;

      filter: brightness(0.65);

      .HomePageCardTitle {
        padding: 15px;
        display: flex;

        @include mobile {
          padding: 10px;
        }

        .HomePageCardTitleLine {
          width: clamp(2px, 0.25vw, 4px);
          height: clamp(85px, 12.25vw, 240px);
          background-color: #b1b1b1;

          @include mobile {
            width: clamp(2px, 0.25vw, 4px);
            height: clamp(55px, 12.25vw, 240px);
          }
        }

        .HomePageCardTitleText {
          display: flex;
          flex-direction: column;

          margin-left: 20px;

          @include mobile {
            margin-left: 10px;
          }

          .HomePageCardTitleHello {
            color: #b1b1b1;
            font-size: clamp(16px, 4vw, 70px);
            font-weight: 400;
            letter-spacing: -1.44px;

            @include mobile {
              font-size: clamp(16px, 4vw, 70px);
              letter-spacing: -0.5px;
            }
          }

          .HomePageCardTitleName {
            color: #b1b1b1;
            font-size: min(max(8vw, 16px), 160px);
            font-weight: 400;
            letter-spacing: min(max(-4.8px, -2px), 0px);

            .HomePageCardTitleNameV {
              letter-spacing: clamp(-10px, -5px, 0px);
            }

            @include mobile {
              font-size: clamp(30px, 8vw, 160px);
              letter-spacing: -1.5px;
            }
          }
        }
      }

      .HomePageCardContext {
        margin-left: 35px;
        color: #b1b1b1;
        font-size: clamp(16px, 3.4vw, 70px);
        font-weight: 400;
        line-height: clamp(16px, 5vw, 100px);
        letter-spacing: -1.2px;

        @include mobile {
          margin-left: 25px;
          margin-bottom: 5px;

          font-size: clamp(12px, 3.2vw, 70px);
          letter-spacing: -0.5px;
          line-height: clamp(16px, 4vw, 50px);
        }
      }
    }

    .HomePageCard1 {
      z-index: 2;
    }

    .HomePageCard2 {
      transform: rotate(15deg);
      transform-origin: center;
    }
  }
}
