.articleVerson {
    height: auto;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 15px;
    margin: 10px;

    .articleContentAll{
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;


        .title{
            font-size: 2.5rem;
            font-weight: 700;
            // border: 1px solid black;
            // margin: 40px 0;
            padding: 20px 0;
            margin-top: 50px;
            // display: block;
        }

        .introdction{
            font-size: 1.2rem;
            font-weight: 500;
            line-height: 25px;
            width: 80%;
            color: rgb(98, 98, 98);
            margin: 0 auto;
            padding: 10px 0;
            text-align: center;
        }

        .time{
            font-size: 1rem;
            font-weight: 600;
            color: rgb(98, 98, 98);
            // padding: 10px 0;
            // border: 1px solid black;
        }

        .articleContent{
            font-size: 1rem;
            font-weight: 500;
            line-height: 30px;
            width: 60%;
            color: rgb(98, 98, 98);
            margin: 50px auto;
            padding: 10px 0;
            text-align: justify;
        }
    }
}